@Model string
@{
    ViewData["Title"] = "About";
}
<!--@section AddToHead{
    <link href="@Url.Content("~/components/my-app/static/css/main.9a0fe4f1.css")" rel="stylesheet" type="text/css" />
}-->

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>My component should load here:</p>

<div id="root" />
<script type="text/javascript" src="@Model"></script>

<div id="root2" />
